@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Trebuchet MS", Arial, sans-serif;*/
    font-family: "Overpass", "Trebuchet MS", Arial, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
canvas {
    /*
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    */
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
}
:root {
    --off-white: #edf0f1;
    --green-border: #8ed19c;
}
:root {
    --base-font-size: 16px;
    --main-head-font: 100px;
}





/* Footer Styles */
footer {
    background-color: rgba(103, 103, 103, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between; /* Keep content evenly spaced horizontally */
    align-items: center; /* Center content vertically */
    padding: 1.5%;
    backdrop-filter: blur(20px);
    margin-top: auto; /* Ensure footer is at the bottom */
    z-index: 1;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

footer p {
    font-size: var(--base-font-size);
    font-style:italic; 
    font-weight: 500;
    color: var(--off-white);
}

footer .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .icons a img {
    width: 100%;
    max-width: 40px;
    height: auto;
    margin: 0;
}
.contact {
    padding: 15px;
    background: #2e2e2e;
    color: var(--off-white);
    font-size: var(--base-font-size);
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    margin: 2px auto 0;
}
.contact:hover {
    background: #4a4a4a;
    transition: all .5s;
}
/* End */




/* Nav Bar */
nav{
    background-color: rgba(103, 103, 103, 0.8);
    height: 80px;
    width: 100%;
    backdrop-filter: blur(20px);
}
label.check {
    float: right;
}
nav ul {
    display: inline-block;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: var(--off-white);
    text-decoration: none;
    font-size: var(--base-font-size);
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
}
ul a.active, ul a:hover {
    background: #4a4a4a;
    transition: .5s;
    z-index: 1;
}
.nav-restricted:hover {
    background: #ff0000;
    text-decoration: line-through 5px;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: var(--off-white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* End */




/* Title */
.header {
    padding: 0.5%;
}
h1 { 
    font-size: var(--main-head-font); 
    font-weight: 700;
    color: #b7babd;
    border-left: .3vw solid var(--green-border);
} 
/* End */ 





/* Home Page */
.list-group {
    display:flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
}
.list-group a{
    text-decoration: none;
    overflow: none;
}
.list-group a button, .menu {
    display: flex;
    flex-direction: column;
    border: none;
    color: #b7babd;
    padding: 0vh 1vw;
    text-decoration: none;
    border-left: .278vw solid var(--green-border);
    background: unset;
    font-size: 4.96vw;
    font-weight: 600;
    text-decoration: none;
    overflow: none;
}
.menu:hover {
    color: var(--green-border);
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}
.restricted:hover {
    color: #ff0000;
    text-decoration: line-through #ff0000 5px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}
/* End */





/* OMAN SOUNDS PAGE */
.video-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* END  */






/* PAZANGS PAGE */
.pazang-container {
    display: flex;
    flex-direction: column;
}
#bg2 {
    position: fixed; /* Fixed position to act as background */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    z-index: -1; /* Behind other content */
}
.music-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.pazang-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    padding-bottom: 5%;
}
/* End */






/* ART PAGE */
.art-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    padding-bottom: 5%;
}
.art-gallery img{
    width: 100%;
}
/*
@keyframes appear {
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate();
    }
    0% {
        transform: translate();
    }
}
 /*
.art-gallery img {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
/* End */




/* Contact Page */
.reach-out h2 {
    display: flex;
    color: #7a7a7a; 
    justify-content: center;
    padding-bottom: 2%;;
    font-size: 20px;
    text-decoration: underline var(--green-border);
}
.contact-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;;
}
.text-dings {
    display: flex;
    flex-direction: column;
    line-height: 200%;
    /*line-height: 2.0vw; */
    color: #7a7a7a; 
    font-style: normal; 
    font-variant: normal; 
    width: 100%;
    max-width: 800px;
}
.text-dings h2 {
    font-size: 24px; 
}
.text-dings h3 {
    font-size: var(--base-font-size); 
}
.text-dings ul li {
    font-size: var(--base-font-size); 
    margin: 0 20px;
}
form {
    background-color: #bebebe;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 600px;
}
form h3 {
    color: var(--off-white);
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: var(--off-white);
    font-size: var(--base-font-size);
    border-radius: 7px;
    max-width: 600px;
    resize: vertical;
}
form button {
    padding: 15px;
    background: #2e2e2e;
    color: var(--off-white);
    font-size: var(--base-font-size);
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    width: 150px;
    margin: 20px auto 0;
}
/* End */





/* Responsive Styles */
@media only screen and (max-width: 952px) {

    /* Main Page */
    .header {
        padding: 0%;
    }
    h1 {
        display: flex;
        justify-content: center;
        border-left: none;
    }
    /* End */




    /* Nav Bar */
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4a4a4a;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    ul a:hover, ul a.active {
        background-color: none;
        color:var(--green-border);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn {
        display: block;  
    }
    nav ul li a {
        font-size: 40px;
    }
    /* End */





    /* Home Page */
    .list-group {
        display: flex;
        flex-direction: column;
    }
    .list-group a button, .menu {
        padding: 4vh  4vw;
        border-left: 1vw solid var(--green-border);
        background: unset;
        line-height: 4.4vw;
        font-size: 10vw;
    }
    /* End Home Page */




    /* Oman Sounds Page*/
    .os-content {
        min-height: 100vh;
    }
    /* End */




    /* Pazangs stuff??? */
    .music-icons {
        padding: 5%;
    }
    .gallery{
        padding: 2% 10%;
    }
    /* End */




    /* Art Page */
    .art-gallery{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    /* End */



    /* Contact Page */
    .reach-out h2 {
        text-align: center;
        padding: 5%;;
        font-size: 15px;
        text-decoration: underline var(--green-border);
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
        gap: 20px;
    }
    form {
        padding: 2vw 4vw;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
    }
    .text-dings {
        padding: 2vw 4vw;
        width: 100%;
    }
    /* End */





    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        z-index: 1;
    }
    footer p {
        display: none;
    }
    /* End */
}



@media only screen and (max-width: 650px) {

    /* Main Page */
    h1 { 
        font-size: 80px; 
    } 
    /* End */



    /* Nav Bar */
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4a4a4a;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 15px;
    }
    nav ul li a{
        font-size: 20px;
    }
    ul a:hover, ul a.active {
        background-color: none;
        color:rgb(30, 255, 169);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn {
        display: block;  
    }
    nav ul li a {
        font-size: 20px;
    }
    /* End */




     /* Oman Sounds Page*/
     .video-container video {
        position: absolute;
        object-fit: cover;
    }
    /* End */




    /* Pazangs Page */
    .music-icons {
        gap: 15px;
    }
    /* End */




    /* Footer */
    footer {
        z-index: 1;
    }
    /* End */
}

@media only screen and (max-width: 390px) {
 
    /* Main Stuff */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    h1 { 
        font-size: 80px; 
    } 
    /* End */



    /* Nav Bar */
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4a4a4a;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 15px;
    }
    nav ul li a{
        font-size: 20px;
    }
    ul a:hover, ul a.active {
        background-color: none;
        color:rgb(30, 255, 169);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .checkbtn {
        display: block;  
    }
    nav ul li a {
        font-size: 20px;
    }
    /* End */



     /* Oman Sounds Page*/
     .video-container video {
        position: absolute;
        object-fit: cover;
    }
    /* End */



    /* Pazangs Page */
    .music-icons {
        gap: 15px;
    }
    /* End */




    /* Footer */
    footer {
        z-index: 1;
    }
    /* End */
}
